.scroll-progress {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 13px;
  height: 100%;
  width: 2px;
  background-color: #fff;

  @include tablet-large {
    left: 73px;
  }

  &.scroll-progress-start {
    top: 60px;

    &:before {
      content: "";
      position: fixed;
      z-index: 10;
      left: 9px;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;

      @include tablet-large {
        left: 63px;
        width: 22px;
        height: 22px;
      }
    }
  }
}