.slider-values {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;

  .slide-value {
    padding-right: 60px;
    padding-left: 60px;

    @include tablet {
      padding-right: 120px;
      padding-left: 120px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    box-shadow: 0 0 0 1px #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0 8px;
    transition-property: box-shadow;
    transition-duration: $transition-duration;

    @include tablet {
      width: 57px;
      height: 57px;
      padding: 0 17px;
    }

    svg {
      width: 12px;
      transition-property: stroke-width;
      transition-duration: $transition-duration;

      @include tablet {
        width: 25px;
      }
    }

    &:hover {
      box-shadow: 0 0 0 2px #fff;
      transition-property: box-shadow;
      transition-duration: $transition-duration;

      svg {
        stroke-width: 1.5px;
        transition-property: stroke-width;
        transition-duration: $transition-duration;
      }
    }
  }

  .swiper-button-prev {
    left: 20px;
    
    @include tablet {
      left: 25px;
    }

    @include tablet-large {
      left: 10px;
    }
  }

  .swiper-button-next {
    right: 20px;

    @include tablet {
      right: 25px;
    }

    @include tablet-large {
      right: 10px;
    }
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after,
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    display: none;
  }
}

.slide-value__subtitle {
  background-color: #fff;
  color: $primary-color;
  display: inline-block;
  font-family: $font-family !important;
  letter-spacing: 0;
  border: $primary-color 3px solid;
  margin-bottom: 12px;
  padding: 6px 8px 6px 8px;
  font-size: 18px;
  font-weight: 400;

  @include tablet {
    padding: 6px 22px 6px 22px;
    font-size: 26px;
  }
  @include desktop {
    font-size: 60px;
    padding: 14px 51px 17px 34px;
    margin-bottom: 24px;
  }
}

.slide-value__text {
  font-size: 20px;
  padding-left: 0px;
  padding-top: 10px;

  @include tablet-large {
    padding-left: 32px;
  }

  @include desktop {
    font-size: 40px;
    width: 45%;
    padding-left: 64px;
    padding-top: 18px;
  }
}

.slide-value__title {
  background-color: $primary-color;
  font-weight: 400;
  letter-spacing: 2px;
  display: inline-block;
  font-family: $font-family !important;
  margin-bottom: 0;
  font-size: 24px;
  padding: 4px 10px 2px 10px;

  @include tablet {
    font-size: 32px;
    padding: 4px 24px 2px 24px;
  }

  @include desktop {
    font-size: 58px;
    padding-left: 30px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-right: 25px;
  }
}

.slide-value__titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slide-value {
  display: flex;
  flex-direction: column;

  @include tablet-large {
    flex-direction: row;
    justify-content: space-between;
  }
}
