section.section.section-timeline
  .scroll-progress
  h2.section-timeline__title
    <svg xmlns="http://www.w3.org/2000/svg" width="20.167" height="20.167" viewBox="0 0 20.167 20.167"><g data-name="Group 499"><path data-name="Path 1" d="M10.083 19.46.707 10.084 10.083.708" fill="none" stroke="#fff" stroke-linecap="round"/></g></svg>
    span Scroll horizontally
    <svg xmlns="http://www.w3.org/2000/svg" width="20.167" height="20.167" viewBox="0 0 20.167 20.167"><g data-name="Group 500"><path data-name="Path 1" d="m10.084 19.46 9.376-9.376L10.084.708" fill="none" stroke="#fff" stroke-linecap="round"/></g></svg>
  .container.section-timeline-container
    ul.timeline
      li.timeline__item
        .timeline-section
          .timeline-section__top
            img.timeline-section__image(src="img/News-Our-History-2.jpg" srcset="img/News-Our-History-2.jpg, img/News-Our-History-2@2x.jpg 2x" alt="The Coventry Permanent Economic Building Society." width="159" height="159")
            p The Coventry Permanent Economic Building Society was founded by a small group of citizen, including Thomas Mason Daffern.
          .timeline-section__date 1884
          .timeline-section__bottom
      li.timeline__item
        .timeline-section
          .timeline-section__top
          .timeline-section__date 1914
          .timeline-section__bottom
            p The Economic has become the largest building society in the area in terms of assets.
      li.timeline__item
        .timeline-section
          .timeline-section__top
            p The Economic has become the largest building society in the area in terms of assets.
          .timeline-section__date 1939
          .timeline-section__bottom
      li.timeline__item
        .timeline-section
          .timeline-section__top
          .timeline-section__date 1967
          .timeline-section__bottom
            p Coventry Economic Building Society installs its first computer — a Honeywell Model 120.
      li.timeline__item
        .timeline-section
          .timeline-section__top
            img.timeline-section__image(src="img/Coventry-recruitment.jpg" srcset="img/Coventry-recruitment.jpg, img/Coventry-recruitment@2x.jpg 2x" alt="computer terminals." width="159" height="159")
            p We installed counter-based computer terminals in our branches.
          .timeline-section__date 1884
          .timeline-section__bottom
      li.timeline__item
        .timeline-section
          .timeline-section__top
          .timeline-section__date 1987
          .timeline-section__bottom
            p Our total assets exceed £1bn
      li.timeline__item
        .timeline-section
          .timeline-section__top
            p The call centre was established.
          .timeline-section__date 1997
          .timeline-section__bottom
      li.timeline__item
        .timeline-section
          .timeline-section__top
          .timeline-section__date 1998
          .timeline-section__bottom
            p The Charitable Foundation was launched.
            img.timeline-section__image(src="img/Purpose-community-Heart of England.jpg" srcset="img/Purpose-community-Heart of England.jpg, img/Purpose-community-Heart of England@2x.jpg 2x" alt="The Charitable Foundation." width="159" height="159")
      li.timeline__item
        .timeline-section
          .timeline-section__top
            p The call centre handles one million calls and we have more than 1,000 employees.
          .timeline-section__date 2001
          .timeline-section__bottom
      li.timeline__item 
        .timeline-section
          .timeline-section__top
          .timeline-section__date 2002
          .timeline-section__bottom
            p Online banking was launched, now members can manage their accounts 24/7.
      li.timeline__item
        .timeline-section
          .timeline-section__top
            img.timeline-section__image(src="img/first-initiative.jpg" srcset="img/first-initiative.jpg, img/first-initiative@2x.jpg 2x" alt="computer terminals." width="159" height="159")
            p We launched our Members First initiative.
          .timeline-section__date 2003
          .timeline-section__bottom
      li.timeline__item
        .timeline-section
          .timeline-section__top
          .timeline-section__date 2010
          .timeline-section__bottom
            p Merging with Stroud and Swindon Building Society, we welcome 150,000 new members and extended our network into the South West and Wales.
      li.timeline__item
        .timeline-section
          .timeline-section__top
            p We became a Children in Need call centre
          .timeline-section__date 2014
          .timeline-section__bottom
      li.timeline__item
        .timeline-section
          .timeline-section__top
          .timeline-section__date 2015
          .timeline-section__bottom
            p All Society staff are invited to attend 10 CARES values events at the Ricoh Arena.
      li.timeline__item
        .timeline-section
          .timeline-section__top
            p We were awarded 5 stars at the Financial Adviser Service Awards.
          .timeline-section__date 2016
          .timeline-section__bottom
      li.timeline__item
        .timeline-section
          .timeline-section__top
          .timeline-section__date 2017
          .timeline-section__bottom
            p We embarked on a new TV and radio advertising campaign, launched 2 new websites, celebrated 10 Years of Intermediary Pledges, and became the 2nd largest building society.
      li.timeline__item
        .timeline-section
          .timeline-section__top
            p We ranked number 2 in the Times Top 100 Companies to work for.
          .timeline-section__date 2020
          .timeline-section__bottom
      li.timeline__item
        .timeline-section
          .timeline-section__top
          .timeline-section__date 2021
          .timeline-section__bottom
            p We secured naming rights for the Coventry Building Society Arena.
            img.timeline-section__image(src="img/Purpose-community-Heart of England.jpg" srcset="img/Purpose-community-Heart of England.jpg, img/Purpose-community-Heart of England@2x.jpg 2x" alt="The Charitable Foundation." width="159" height="159")
      li.timeline__item
        .timeline-section
          .timeline-section__top 
            p Help us achieve our plan
          .timeline-section__date 2022 & beyond
          .timeline-section__bottom