section.section.section-jobs#section-jobs
  .scroll-progress
  .container
    .section-jobs__block
      h2.section-title(data-scrollspy="animate__fadeInLeft") We’re looking for…
      .swiper.slider-jobs 
        .swiper-wrapper 
          .swiper-slide
            li.jobs-list-item Senior Cloud Engineers
          .swiper-slide
            li.jobs-list-item DevOps Engineers
          .swiper-slide
            li.jobs-list-item Cyber & Information Security Consultants
          .swiper-slide
            li.jobs-list-item Senior Solutions Architects
          .swiper-slide
            li.jobs-list-item Senior Automation Test Engineers
          .swiper-slide
            li.jobs-list-item Scrum Masters

      p.jobs-text(data-scrollspy="animate__fadeInRight") At Coventry Building Society, we’re building the teams that keep our tech ticking. From our Oracle Cloud ERP system that pays the bills and keeps the lights on, to the tried-and-trusted, custom-coded, bespoke tools that give our customers the best rates and experiences, we’ve got a great mix of kit both old and new. We want to create teams filled with specialists from all disciplines and experience levels to keep things exciting, and we’ll give you all the tools and freedom to do it your way.

    .section-jobs__block
      h2.section-title(data-scrollspy="animate__fadeInLeft") Let’s define the future of technology together
      p.jobs-text(data-scrollspy="animate__fadeInRight") We’re looking for passionate techies and aspiring experts who want to both make their mark and help us step into the future. With our agile first approach and hybrid working, which means doing what you do from anywhere, we’ve been named as one of the best places to work in 2022. We really want to define the future of technology, and we want to do it together with you.

    .section-jobs__actions
      button.button.button-primary(data-scrollto="#apply") Register your interest