section.section.section-data
  .scroll-progress
  .container
    .card-data-list
      .card-data 
        p.card-data__number.counter-value 50
        p.card-data__text(data-scrollspy="animate__fadeInUp") Data houses
      .card-data
        p.card-data__number.counter-value 75
        p.card-data__text(data-scrollspy="animate__fadeInUp") Data houses
      .card-data
        p.card-data__number.counter-value 100
        p.card-data__text(data-scrollspy="animate__fadeInUp") Data houses