section.section.section-images
  .scroll-progress
  .container
    .section-images__wrap
      .images-card
        img(src="img/collaborative.jpg", alt="Collaborative.")
        .image-card-button Collaborative
      .images-card
        img(src="img/purpose-led.jpg", alt="Purpose led.")
        .image-card-button Purpose led
      .images-card
        img(src="img/work-people.jpg", alt="Volunteering.")
        .image-card-button Volunteering

