section.section.section-intro(style="background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(img/intro.jpg)")
  .scroll-progress.scroll-progress-start
  .container.intro-text(data-scrollspy="animate__fadeInLeft")
    h1.intro-title Define <ul class="intro-title__list"><li class="active">your</li><li>our</li><li>the</li></ul> future 
    br
    h2.intro-subtitle We're hiring tech talent
    br
    h3.intro-motto Our future is altogether, better
    br
    button.button.button-primary(data-scrollto="#apply") Register your interest
button.button-scroll-to(data-scrollto="#section-jobs")
  <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 128 128" xml:space="preserve"><path xmlns="http://www.w3.org/2000/svg" d="M64 88a3.988 3.988 0 0 1-2.828-1.172l-40-40c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0L64 78.344l37.172-37.172c1.563-1.563 4.094-1.563 5.656 0s1.563 4.094 0 5.656l-40 40A3.988 3.988 0 0 1 64 88z"/></svg>
