section.section.section-jobs(style="background-image: url(https://placehold.co/1920x500)")
  .container
    .stats-list
      li 
        .stats
          .stats__number 00
          .stats__name Data houses
      li 
        .stats
          .stats__number 00
          .stats__name Data houses
      li 
        .stats
          .stats__number 00
          .stats__name Data houses