// stylelint-disable scss/dollar-variable-empty-line-before

// Fonts
$font-family: Mukta Mahee, Arial, sans-serif;
$font-button: Mukta, Arial, sans-serif;
$font-weight: 400;
$font-size: 16px;
$line-height: 1.3;

// Colors
$primary-color: #196ef7;
$secondary-color: #001f45;
$text-color: #fff;
$background-color: #eff4fc;
$text-color: #141414;

// Text
$section-title-font-size: 40px;

// Border-radius
$border-radius: 8px;

// Transitions
$transition-duration: 0.3s;

// Border
$border-color: #fff;

// Box-shadow
$header-box-shadow: #00000029;
